h1 {
    background-color:#FFF378;
    text-align: center;
    color: #C20976;
}

h2 {
    color: #5383b0;
}

section {
    background-color: #ffcc99;
}

a {
    color: #C20976;
}

img {
    display: none;
}
