/* h1 {
    background-color:#FFF378;
    text-align: center;
    color: #C20976;
}

h2 {
    color: #5383b0;
}

section {
    background-color: #ffcc99;
}

a {
    color: #C20976;
}

img {
    display: none;
}
*/

header{
	background-color:#839192;
	
}

h1{
	padding:30px;
	color:white;
	text-align:center;
	font-size:40px;
	text-transform:uppercase;
	display:block;
}

nav{
	background-color:yellow;
}


nav a{
	color:red;
	font-size:24px;
	font-family:Comic Sans MS;
}


section{
	background-color:#F5B7B1;
}

h2{
	color:#D35400;
	font-size:26px;
}

img{
	visibility:hidden;
}
